[submodule "Thesis Project"]
	path = Thesis Project
	url = https://github.com/mfacchinelli/thesisProject
[submodule "Tudat Tests"]
	path = Tudat Tests
	url = https://github.com/mfacchinelli/tudatTesting.git
